// Colors
$primary: #ff7727;
$primary-light: #69a5f8;
$primary-dark: #0850b4;
$secondary: #d8e6fc;
$secondary-light: #ecf3fe;
$secondary-dark: #a3c3f8;
$tertiary: #9482fe;
$tertiary-dark: #6b51fd;

$white: #fff;
$dark: #060606;

// Font sizes
$headline-size: 24px;
$section-title-size: 20px;
$primary-size: 15px;
$secondary-size: 13px;
$tertiary-size: 17px;

$base-unit: 8px;

// Breakpoints
$sm: "576px";
$md: "768px";
$lg: "992px";
$xl: "1200px";
