@import "../../assets/globals/variables.scss";

.pi-footer-container {
  width: 100vw;
  text-align: center;
  color: $color5;
  padding: 3em 0;
  font-size: $secondary-size;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    li {
      margin: 0.5em 0;
    }
  }
}

@media screen and (min-width: $md) {
  .pi-footer-container {
    ul {
      flex-direction: row;
      li {
        margin: 0 1em;
      }
    }
  }
}
