@import "../../assets/globals/variables.scss";

.pi-input-container {
  width: 100%;
  outline: 0px solid $color6;
  border-bottom: 0.5px solid $color4;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: outline 0.3s ease-in-out;
  margin-top: 0.5em;
  &.focused {
    border: 0;
    outline: 0.5px solid $color1;
  }
  &.none {
    border: 0;
  }
}
.pi-input {
  width: 100%;
  text-overflow: ellipsis;
  color: $dark;
  border: 0;
  outline: 0;
  &.small {
    padding: $base-unit 10px;
    font-size: $secondary-size;
  }
  &.default {
    padding: $base-unit 10px;
    font-size: $primary-size;
  }
  &.large {
    padding: calc(#{$base-unit} * 2) 10px;
    font-size: $tertiary-size;
  }
  &:active {
    background-color: $white;
  }
  &[readonly] {
    cursor: pointer;
  }
}
.pi-input-icon {
  color: $color7;
  margin: 0 $base-unit;
}
.pi-input-icon:hover {
  color: $color5;
}
