@import "../../assets/globals/variables.scss";
.pi-label {
  &.small {
    font-size: $secondary-size;
  }
  &.default {
    font-size: $primary-size;
  }
  &.large {
    font-size: $tertiary-size;
  }
}
