@import "../../../pronto/assets/globals/variables.scss";

.login-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding-top: 3em;
  .logo {
    height: 90px;
  }
  .login-form {
    width: 80%;
    border-radius: 10px;
    .login-form-group {
      margin: 1.5em 0;
    }
  }
}

@media screen and (min-width: $sm) {
  .login-page-container {
    .login-form {
      width: 55%;
    }
  }
}
@media screen and (min-width: $md) {
  .login-page-container {
    padding-top: 5em;
    .logo {
      height: auto;
    }
    .login-form {
      width: 40%;
    }
  }
}
@media screen and (min-width: $lg) {
  .login-page-container {
    .login-form {
      width: 30%;
    }
  }
}

@media screen and (min-width: $xl) {
  .login-page-container {
    .login-form {
      width: 23%;
    }
  }
}
