@import "../../assets/globals/variables.scss";

.pi-textarea {
  width: 100%;
  resize: none;
  text-overflow: ellipsis;
  border: 0.5px solid $color4;
  border-radius: 3px;
  outline: 0px solid $color6;
  padding: 0.5em;
  transition: outline 0.2s ease-in-out;
  &:focus {
    outline: 2px solid $color6;
  }
  &.small {
    padding: 0.4em;
    font-size: $secondary-size;
  }
  &.default {
    padding: 0.6em;
    font-size: $primary-size;
  }
  &.large {
    padding: 1em;
    font-size: $tertiary-size;
  }
}
