// Colors
$color1: #3399ff;
$color2: #ff5c2b;
$color3: #9595aa;
$color4: #e2e4ef;
$color5: #4a4a4a;
$color6: #fafafa;
$color7: #9696a7; // title

$white: #fff;
$dark: #060606;

// Font sizes
$headline-size: 24px;
$section-title-size: 20px;
$primary-size: 14px;
$secondary-size: 12px;
$tertiary-size: 16px;

$base-unit: 8px;

// Breakpoints
$sm: "576px";
$md: "768px";
$lg: "992px";
$xl: "1200px";
